
<br>
<footer class="app-footer border-top bg-light mt-5">
    <div class="container py-5" align="center">
     <span>Made with ❤️ by <a href="" class="text-col-active">@axeltokam</a> </span><br>
     <span class="ml-2 d-block mt-2"><a href="" class="pt-5 text-primary font-weight-bold">#20WebAppsChallenge</a> </span> 
    </div>
 </footer>
</body>
</html>