<%- include("header.ejs") %>

    <h1>Welcome to our News Portal!</h1>
    <p>Latest news articles will be displayed here. 0cc73212ee65cc564f4ee75ca7594375</p>
    <button class="btn btn-primary">Hello world</button>
    
<%- include("../headers/footer.ejs") %>